.pokerf {
  
  position: absolute;
  width: 100%;
  height: 100%;

  user-select: none;
  background-size: cover;
  cursor: pointer;

}

.background {
  display: flex;
  justify-content: center;
}

.background .bg-table {
  position: absolute;
  border-radius: 200px;
  transform: perspective(40em) rotateX(20deg)
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.seats .seat {

  position: absolute;
  display: flex;
  justify-content: center;

  font-size: 1em;
  color: white;

  text-align: center;
  transform: translate(-50%, -50%);

}

.seats .seat img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.4);
}

.seats .seat.empty {
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1)
}

.seats .seat.empty:active {
  background: rgba(255, 255, 255, 0.2)
}


.deals .dealer {
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
}

.deals .dealer .card:nth-child(1) {
  transform: translateY(20%);
}
.deals .dealer .card:nth-child(2) {
  transform: translateY(10%);
}

.deals .hand {
  position: absolute;
}

.deals .card {
  position: absolute;
}

.card {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.actions .action {
  position: absolute;
  border-radius: 10px;
  padding: 1px 10px;
  width: 8%;
  text-align: center;
}
