.mestatus {
  position: absolute;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
}

.mecontrols,
.mesidecontrols {
  position: absolute;
}

.meon {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.mebutton {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  width: 80px;
}

.mebutton:active {
  transform: scale(0.9);
  border: 1px solid rgba(0, 0, 0, 0);
}

button:focus { outline: 0; }

.meraise {
  position: absolute;
  bottom: 120%;
  width: 100%;
  border-radius: 0.2em;
  display: flex;
  flex-flow: column;
}


.meraise .mebutton {
  padding: 0.5em;
}

.meraise .presets {
  padding: 0.2em;
  margin: 0.8em 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.meraise .label {
  font-size: 1.2em;
  border-radius: 1em;
  margin: 0.8em;
  padding: 0.4em;
  color: white;
  text-align: center;
}

.meraise .slider {
  margin: 0 10%;
}
